h1 {
  text-align: center;
  font-size: 40px;
}

.App {
  text-align: center;
}

.container {
  width: 50%;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
}

.button-ajouter, .input, .todo-item {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Ajouté */
}

.button-ajouter {
  color: #000;
  background-color:  #61dafb77;
  border: solid 1px #282c34;
  margin-top: 1rem;
  transition: ease-in-out 200ms;
  text-transform: uppercase;
  font-weight: bold;
}

.button-ajouter:hover {
  background-color: #56bfdb;
}

.input {
  border: solid 1px #d8d8d8;
}

input:focus-visible {
  border: solid 1px #d8d8d8;
  box-shadow: inset 0 0 3px #61dafb;
  border-radius: 0px;
  outline: none;
}

ul {
  padding-left: 0;
  width: 100%;
}

.task-button {
  align-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
}

.todo-input {
  padding: 2rem;
  border-radius: 5px;
  border: solid 1px #d8d8d8;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  border-radius: 5px;
  border: solid 1px #d8d8d8;
}

.item-text {
  font-size: large;
  flex-grow: 1; 
}

.App-link {
  color: #61dafb;
}